@model PostsStatisticsViewModel
@{
	Layout = "";    
}
<p class="stats"><span>文章: <strong>@Model.PostsCount.ToString("0,0")</strong></span> | <span>评论: <strong>@Model.CommentsCount.ToString("0,0")</strong></span></p>